<app-header></app-header>

<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" placeholder="Enter name" />
  <br /><br />
  <input type="text" ngModel name="email" placeholder="Enter email" />
  <br /><br />
  <input type="text" ngModel name="password" placeholder="Enter password" />
  <br /><br />
  <button>Register new</button>
</form>

<ul>
  <li>{{ userData.email }}</li>
  <li>{{ userData.password }}</li>
  <li>{{ userData.user }}</li>
</ul>
